*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(burger-background\ .jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    color: azure;
    
}

.name{
    margin-left: 20vh;
}

.pages ul{
    display:flex;
    gap: 10vh;

}

#right-most{
    margin-right:20vh;
    background-color: red;
    border: 1px red solid;
    padding: 0px 9px;
    border-radius: 20px;
}


.content {
    display:flex;
    justify-content: space-evenly;
    
    color: azure;
    height: 40vh;
    
}

.content h2{
    font-size: 40px;
    margin-bottom: 5vh;
}

.content p{
    font-size: 25px;
}

.left{
    margin-left: 1.4vh;
    margin-top: 12vh;
    width: 70vh;
}

.Order{
    height:28px;
    border-radius:25px ;
    width: 110px;
    font-size: 19px;
    margin: 2vh 0vh 0vh 25vh;
    background-color: red;
    color: azure;
}

.menu{
    font-size: 45px;
    margin-top: 10vh;
    text-align: center;
    color: azure;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    justify-items: center;
    align-items: start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.veg,.non-veg{
  position: relative;
    width:100%;
    max-width: 300px;
    height: 45vh;
    border:1px white solid;
    border-radius: 12px;
    margin: 20px auto 0px auto;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #burger-1{
  position:inherit;
  top:10px;
  left:1.5em;
  height:6em;
  width:auto;
}

#burger-2{
  position:inherit;
  top:5px;
  left:4em;
  height:10.5em;
}

#burger-3{
  position:inherit;
  top:5px;
  left:3.5em;
  height:10.5em;
} */

.veg img ,.non-veg img {
  max-width: 48%;
  height: auto;
  display: block;
  margin: auto;
}


.head{
  margin-top: 18px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .text > .head {
    font-weight: bold;
    font-size: 40px;
}
  
  .text > .price {

    font-size: 35px;
  }
  
  .text span {
    font-size: 12px;
    color: lightgrey;
  }

.cards-footer{
    width: 90%;
    display:flex;
    justify-content:space-around;
    align-items:center ; 
    color:white;
    font-size: 38px;
    border-top: 1px solid #fff;
    padding-top: 10px;
}

  svg{
    border: none;
    width: 40px;
    padding-top: 15px;
  }

  svg:hover{
    background-color: orange;
  }
